:root {
  --main-colour: #f9f9f9;
  --header-colour: #4d92ce;
  --main-font: "Roboto", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background-color: var(--main-colour);
  padding-top: 90px;
}
section {
  background-size: cover;
  background-position: center center;
  text-align: center;
}
#section1 {
  background-color: var(--main-colour);
  padding-bottom: 0px;
}
#section2 {
  background-color: #e7e5fd;
  padding-top: 90px;
  padding-bottom: 90px;
}
#section3 {
  background-color: #efded6;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: Helvetica;
}

.about {
  padding: 40px 0px 0px 0px;
  text-align: center;
}
.text-stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  -moz-text-stroke-color: #111827;
  color: transparent;
  text-shadow: 5px 2px 0px var(--header-colour);
}

.container-fluid {
  margin: 0px 30px 0px 30px;
  font-family: "Caveat", cursive;
  font-size: 30px;
}
.navbar {
  backdrop-filter: blur(10px);
}
.nav-item {
  font-family: var(--main-font);
  font-size: 20px;
}

.nav-link:hover {
  color: var(--header-colour);
  text-decoration: underline;
}

.main-page p {
  font-size: 36px;
  font-family: var(--main-font);
}
p {
  font-size: 20px;
  font-family: var(--main-font);
}
h2 {
  font-size: 24px;
  font-family: var(--main-font);
}
.btn {
  font-family: var(--main-font);
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 0;
  box-shadow: var(--box-shadow);
  margin: 60px auto;
}
.btn:hover {
  color: var(--header-colour);
}
